In [2]:
from price_estimator import PriceEstimator

ImportError: cannot import name 'PriceEstimator' from 'price_estimator' (C:\Users\kbk17\jupyter-notebooks\Ames-Housing\price_estimator\src\price_estimator.py)

In [69]:
import pandas as pd
import json
from sklearn.base import BaseEstimator
class PriceEstimator:
    
    def __init__(self, input_schema : dict, output_schema : dict, trained_model : BaseEstimator, categorical_cols, encoding)->PriceEstimator:
        self.input_schema = input_schema
        self.output_schema = output_schema
        self.trained_model = trained_model
        self.encoding = 
    
    def parse_input(self, request : list)->pd.DataFrame:
        input_list = []
        for r in request:
            d = json.loads(r)
            input_list.append(d)
        input_df = pd.DataFrame.from_records(input_list)
        return input_df
    
    def format_response(self):
        pass
    
    def call_model(self, input_features : pd.DataFrame)->pd.Series:
        
    
    def predict_for_request(self, request : list):
        input_df = self.parse_input(request)

In [70]:
test_str1 = """
                {"Garage Cars":"2",
                    "Tot Bsmnt SF":"800"}
            """
test_str2 = """
                {"Garage Cars":"5",
                    "Tot Bsmnt SF":"800"}
            """

In [71]:
d = json.loads(test_str1)
print(d)

{'Garage Cars': '2', 'Tot Bsmnt SF': '800'}

In [72]:
estimator = PriceEstimator({}, {}, BaseEstimator())
df = estimator.parse_input([test_str1, test_str2])
df

  Garage Cars Tot Bsmnt SF
0           2          800
1           5          800